
{% block game %}
<!-- ======= Video Section ======= -->
	<section id="quiz" class="d-flex justify-cntent-center align-items-center">

            {% if user.is_authenticated %}
			<div id="game-container" class="container invisible">
				<div class="row">
					<div class="col-lg-12">
                        <h2 class="animated fadeInDown"><span id="artist"></span> - <span id="title"></span></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3"></div>
					<div class="col-lg-6">
						<div id="track-cover">
					    </div>
					</div>
					<div class="col-lg-1">
                        <div class="slidecontainer">
                            <div id="volume"></div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <a id="pause" href="#">PAUSE</a>
                        <p id="current-time"></p>
                        <p id="current-round"></p>
                    </div>
				</div>
				<div class="col-lg-6 offset-lg-3">
					<input type="text" name="useranswer" class="form-control fadeInUp" id="useranswer" placeholder="nombre de la canción / nombre del grupo" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
				</div>
			</div>

            <div id="readybutton-container" class="container visible">
				<div class="row">
					<div class="col-lg-12 mt-5">
                        <h2 id="ready-button" class="animated fadeInDown"><span id="ready">Ready up</span></h2>
					</div>
				</div>
			</div>
            {% else %}
            <p>please sign up</p>
            {% endif %}

	</section><!-- End Video -->
	<main id="main">

<!-- ======= User Section ======= -->
	<section id="about" class="about">
		<div class="container">
		<div id="user-scores" class="row content">
			
		</div>

		</div>
	</section><!-- End About Section -->

    {% load static %}
	<script src="{% static 'quiz/js/quiz.js'%}" type="text/javascript"></script>
{% endblock game %}